$small-size: 14px;
$large-size: 24px;
$primary-color: #02c874;
$primary-shadow: rgba(0, 233, 50, 0.822);
$secondary-color: #313131;
$submit-color: #4267b2;
$error-color: #db4437;
$text-white: #ffff;
$text-mute: #6c6c6c;
